@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "PP Fragment Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/PPFragment-SansLight.otf") format("opentype");
}

@font-face {
  font-family: "PP Fragment Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/PPFragment-SansRegular.otf") format("opentype");
}

@font-face {
  font-family: "PP Fragment Serif Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/PPFragment-SerifRegular.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

input,
button,
select,
textarea {
  font: inherit;
  color: inherit;
}
